<body>
  <div style="text-align:center">
<h1 align="center" class="desc">Profile Finder for Github</h1>
<p align="center" id="details">Check out the profile, followers and more
<br>just by entering a username!</p>
<br>
<form>
<div  id="searchdiv" class="ui action input">
  <input name=name type="text" placeholder="Enter username..." [(ngModel)] = "username" required>
<button (click)="searchUser()"  class="ui button">Search</button>
</div>
</form>
  </div>


<div  *ngIf="user">
<div  *ngIf="user.name !== 'User not found'">
  <div  id="user-details" *ngIf="user.name.length > 0">
    <div id="profile" class="row">
      <img class="ml-0 col-5" src={{user.avatar}} >
      <div class="col-5 text-left">
        <p class="repo">Name: <span appBold>{{user.name}}</span></p>
        <p class="repo">Followers: {{user.followers}}</p>
        <p class="repo">Following: {{user.following}}</p>
        <p class="repo">Repos: {{user.repos}}</p>
        <p class="repo">Bio: {{user.bio}}</p>
        <!-- <p>Created <span appBold>{{user.created_at|dateCount}}</span> days ago</p> -->
        </div>
        <div class="btn-container">
          <button class="btn btn-info " id="repoBtn" (click)="toggleRepos()">View Repos</button>
        </div>
        <div  *ngIf="viewRepo">
          <div class="repo-btn-container text-center mx-5 mt-4">
            <input type="text" class="mr-2 text-center form-control w-75 d-inline-block" placeholder="Search repository"  autocomplete="off" id="repoSearch"><br><br>
            <button (click)="searchRepo()" class="btn btn-info"><span><i class="fas fa-search"></i></span>Search</button><span></span>
            <button class="btn btn-light" (click)="viewAll()" id="viewAll">View All</button>
          </div>
          </div>
        </div>
        </div>
        </div>
        </div>

        <div id="repos">
            <app-repository [repos]="repos"></app-repository>
          </div>

</body>

      
        